<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eric.callintercept">

    <!-- 开机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 手机挂断 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--通话记录-->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!--通讯录-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.others.Home_item1" />
        <activity android:name=".activity.others.Home_item2" />
        <activity android:name=".activity.others.Home_item3" />
        <activity android:name=".activity.others.Home_item4" />
        <activity android:name=".activity.Intercept_list" android:label="拦截记录" />
        <activity android:name=".activity.Black_list" android:label="黑名单" />
        <activity android:name=".activity.Allow_list" android:label="白名单"/>
        <activity android:name=".activity.Intercept_settings" android:label="拦截设置" />
        <activity android:name=".activity.Add_manually" android:label="手动添加"/>
        <activity android:name=".activity.Add_from_call_logs" android:label="通话记录"/>
        <activity android:name=".activity.Add_from_contacts" android:label="联系人"/>

        <receiver
            android:name=".receiver.TelReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.PhoneService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>